alembic
click
colorama
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
python-dotenv
six
SQLAlchemy
Werkzeug
zipp
